*{
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    gap: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.emailInput{
    font-size: 20px;
}

.inputPassword{
    font-size: 20px;
}
.submitBtn{
    display: flex;
    justify-content: flex-start;
}

nav a{
    margin-left: 10px;
}







